In [1]:
import sqlite3 as sql

### Creating a Sqlite DB with python

In [19]:
conn = sql.connect('./database/mpt.db')
cursor = conn.cursor()

In [20]:
cursor.execute('''
    CREATE TABLE mpt (
        id INTEGER,
        email TEXT,
        pasword TEXT,
        roles TEXT,
        name TEXT,
        register TEXT
    )
''')

conn.commit()

### Adding data to db

In [28]:
cursor.execute('''
    INSERT INTO mpt (
        id,
        email,
        pasword,
        roles,
        name,
        register
    ) VALUES (
        2,
        'jose@email.com',
        '123456',
        'admin',
        'Jose',
        'OK'
    )
''')

conn.commit()

### Searching

In [29]:
cursor.execute('''
    SELECT * FROM mpt WHERE roles = 'admin'
''')

results = cursor.fetchall()
for row in results:
    print(row)

(1, 'admin@email.com', '123456', 'admin', 'Natanael', 'OK')
(2, 'jose@email.com', '123456', 'admin', 'Jose', 'OK')

### Editing/Update data from db

In [24]:
cursor.execute('''
    UPDATE mpt set register = 'OK' WHERE id = 1
''')

conn.commit()